@model OneEchan.Server.Models.AccountManagementViewModel.AccountManagementIndexViewModel
@{
    ViewData["Title"] = "My Account";
}

<div class="row" style="padding: 2em;">
    <!-- Tab panes -->
    <div class="tab-content col-md-10 col-md-push-2">
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            <form asp-controller="AccountManagement" asp-action="EditProfile" method="post" class="form-horizontal">
                <h4>修改个人资料</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WebSiteUrl" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="WebSiteUrl" class="form-control" />
                        <span asp-validation-for="WebSiteUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">修改</button>
                    </div>
                </div>
            </form>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="security">
            @*<form asp-controller="AccountManagement" asp-action="ChangePassword" method="post" class="form-horizontal">
                <h4>修改密码</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">修改</button>
                    </div>
                </div>
            </form>*@
        </div>
        <div role="tabpanel" class="tab-pane fade" id="videomanage">

        </div>
    </div>
    <!-- Nav tabs -->
    <div class="col-md-2 col-md-pull-10">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="pill">个人资料</a></li>
            <li role="presentation"><a href="#security" aria-controls="security" role="tab" data-toggle="pill">账号安全</a></li>
            <li role="presentation"><a href="#videomanage" aria-controls="videomanage" role="tab" data-toggle="pill">视频管理</a></li>
        </ul>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}