@model Detail

@*TODO: A List Image*@
@section banner{
    <img class="img-full-width" src="~/Assets/banner.png" alt="Alternate Text" />
}

<div class="row detail-header mdl-shadow--4dp">
    <div class="col-xs-6 col-lg-4">
        <img class="img-full-width" src="@Model.List.Where(item=>item.FileThumb != null).Select(item=>item.FileThumb).Random()" alt="@Model.Name" />
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-8">
        <h4>@Model.Name</h4>
        <span class="wrap-span">
            descriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescriptiondescription
        </span>
    </div>
</div>

@await Html.PartialAsync("_ItemList", Model.List)