ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li
{
    float:left;
    padding: 8px;
}
.mdl-card.CardViewItem
{
    width:196px;
    height:110px;
    min-height:unset;
}
.CardViewItem > .mdl-card__actions 
{
  padding: 4px;
  background: rgba(0, 0, 0, 0.2);
}
.CardText
{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.CardSubText
{
    color: lightgray;
    font-size: 14px;
    font-weight: 500;
    float:right;
}