.Header-Text
{
    color:white;
    text-transform: none;
}
.Header
{
    background-color:mediumvioletred;
}
.mdl-layout__header-row.Header
{
    padding:32px;
}
.mdl-button.HeaderButton
{
    color: white;
    text-transform: none;
}