#VideoElement
{
    display: block;
    margin: 0 auto;
    width: 100%;
    height:auto;
}
@media only screen and (min-width: 854px) 
{
    #VideoElement
    {
        display: block;
        margin: 0 auto;
        width: 854px;
        height:480px;
    }
}
.centerdiv
{
    display: table;
    margin: 0 auto;
}