@model IPagedList<Article>
<div class="row">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div style="display: flex; justify-content: space-between">
                    <a href="@Url.Action(nameof(ArticleController.Details), nameof(ArticleController).Replace("Controller", ""), new { id = item.Id })">@item.Name</a>
                    <div>
                        <span>@item.CreatedAt</span>
                        <span>
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            <span>@item.ViewCount</span>
                        </span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>