<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>OneEchan</string>
	<key>CFBundleIdentifier</key>
	<string>moe.tlaster.oneechan</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string></string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>OneEchan</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
		<string>Default-Landscape.png</string>
		<string>Default-Landscape@2x.png</string>
		<string>Default-Portrait.png</string>
		<string>Default-Portrait@2x.png</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>XSAppIconAssets</key>
	<string>Resources/Icon.xcassets/AppIcons.appiconset</string>
	<key>UIStatusBarHidden</key>
	<true/>
</dict>
</plist>
